<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
<div style="display: flex; justify-content: space-between">
    <div>
        <h1> First Column</h1>
        <ul>
            {% for employee in employees %}
                <li>
                    <div>
                        {{ employee.first_name }} {{ employee.last_name }}
                    </div>
                    <div>
{#                        in <a href="{{ employee.department.get_absolute_url }}"> {{ employee.department.name }} </a>#}
                    </div>
                    <div>
                        Experience: {{ employee.years_of_exp }}
                        Joined: {{ employee.created_on }}
                    </div>
                </li>

            {% endfor %}
        </ul>
    </div>

    <div>
        <h1> Second Column</h1>
        <ul>
            {% for employee in employees2 %}
                <li>
                    <div>
                        {{ employee.first_name }} {{ employee.last_name }}
                    </div>
                    <div>
                        in <a href="{{ employee.department.get_absolute_url }}"> {{ employee.department.name }} </a>
                    </div>
                    <div>
                        Experience: {{ employee.years_of_exp }}
                        Joined: {{ employee.created_on }}
                    </div>
{#                <a href="{% url 'delete employee' pk=employee.pk %}">#}
                   Delete
{#                </a>#}
                </li>

            {% endfor %}
        </ul>
    </div>

    <div>
        <h1> Third Column</h1>
        <ul>
            {% for employee in employees3 %}
                <li>
                    <div>
                        {{ employee.first_name }} {{ employee.last_name }}
                    </div>
                    <div>
                        {{ employee.department.name }}
                    </div>
                    <div>
                        Experience: {{ employee.years_of_exp }}
                        Joined: {{ employee.created_on }}
                    </div>
                </li>

            {% endfor %}
        </ul>
    </div>
<h1>
    {{ department.name }}
</h1>
</div>
</body>
</html>